@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: "Norse-Bold";
  src: url(./assets/Norse-Bold.otf);
  font-weight: bold;
}

:root {
  --small-screen-size: 600px;
  --medium-screen-size: 900px; /* It's not working 
                                with media-query 
                                in current CSS3 */
  --large-screen-size: 1200px;
  --side-img-min-width: 300px;
  --smaller-gap: 0.75rem;
  --small-gap: 2rem;
  --medium-gap: calc(2 * var(--small-gap));
  --large-gap: 7rem;
  --radius: 5px;
  --logo-fontsize: 72px;
  --logo-background: rgba(10, 10, 10, 0.5);
  --bright-color: white;
  --main-background-color: #efefef;
  --form-color: rgb(78, 78, 78);
  --input-border: #e5e7eb;
  --input-focused: dodgerblue;
  --button-color: #596d48;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--main-background-color);
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.side-image {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 200px;
  width: 100%;
  background: darkgreen url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: 100% auto;
  color: var(--bright-color);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  font-family: "Norse-Bold", sans-serif;
  font-size: var(--logo-fontsize);
  background-color: var(--logo-background);
}

.logo img {
  width: 0.9em;
  height: auto;
  margin: 10px 0;
}

.copyright {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0.5em;
}

.copyright a {
  color: var(--bright-text-color);
}

.form-container {
  background: var(--bright-color);
  padding: var(--smaller-gap) 0 var(--small-gap) var(--small-gap);
  color: var(--form-color);
  box-shadow: 0 3px 5px darkgray;
}

.form-container h2 {
  margin-top: 0;
  padding: 0;
  margin-bottom: var(--smaller-gap);
}

article,
.button-container {
  margin: var(--small-gap) var(--small-gap) var(--smaller-gap) var(--small-gap);
}

article {
  margin-bottom: var(--medium-gap);
}

article p {
  font-weight: bold;
  font-size: 1.3em;
  max-width: 600px;
}

main {
  flex-grow: 1;
}

.form-line {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: var(--medium-gap);
}

.form-input input {
  padding: 5px 10px 5px 10px;
  border: 2px solid var(--input-border);
  border-radius: var(--radius);
  font-family: "Roboto", sans-serif;
  width: max(20vw, 213px);
  box-sizing: border-box;
}

.form-input input:focus {
  outline: none;
  border: 1px solid var(--input-focused);
  border-radius: var(--radius);
  box-shadow: 3px 3px 3px var(--input-border);
}

.form-input label {
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 2px;
}

.form-input .help {
  height: 15px;
  color: red;
  font-size: 12px;
  visibility: hidden;
}

.error .help {
  visibility: visible;
}

.error input {
  border: 1px solid red;
}

.error input:focus {
  border: 1px solid red;
  box-shadow: none;
}

.button-container {
  display: block;
  max-width: 600px;
}

.button-container button {
  background: var(--button-color);
  color: var(--bright-color);
  font-size: 1.1em;
  font-weight: bold;
  padding: var(--smaller-gap) var(--small-gap);
  border: none;
  border-radius: var(--radius);
  margin-bottom: var(--small-gap);
}

.button-container a {
  margin: 0 var(--radius);
  text-decoration: none;
  color: var(--button-color);
  font-weight: bold;
}

@media (min-width: 600px) {
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .button-container button {
    margin-bottom: 0;
  }

  article {
    margin-bottom: var(--smaller-gap);
    margin-top: var(--smaller-gap);
  }
}

@media (min-width: 900px) {
  .main-container {
    flex-direction: row;
  }

  .side-image {
    display: block;
    width: max(30%, var(--side-img-min-width));
    flex-shrink: 0;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .logo {
    position: absolute;
    top: 20vh;
  }

  article {
    margin-top: var(--large-gap);
    margin-bottom: var(--small-gap);
  }

  .button-container {
    display: block;
  }

  .button-container button {
    margin-bottom: var(--small-gap);
  }
}
